DB_NAME     = 
DB_USER     = 
DB_PASSWORD = 
DB_HOST     = 

JWT_ALGORITHM = 
JWT_ACCESS_TOKEN = 
JWT_REFRESH_TOKEN = 

REDIS_URL = 

# Throttle limits
RATE_LIMIT_LOGIN_MAX=5
RATE_LIMIT_LOGIN_PERIOD=300        # 5 attempts per 5 minutes

RATE_LIMIT_SIGNUP_MAX=3
RATE_LIMIT_SIGNUP_PERIOD=3600      # 3 attempts per 1 hour

RATE_LIMIT_REFRESH_MAX=10
RATE_LIMIT_REFRESH_PERIOD=300      # 10 attempts per 5 minutes

RATE_LIMIT_GLOBAL_MAX=300
RATE_LIMIT_GLOBAL_PERIOD=60        # 300 requests per minute per IP